<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Kích hoạt tài khoản</h2>
            <p class="text-center">Vui lòng nhấn nút bên dưới để kích hoạt tài khoản của bạn.</p>

            <!-- Sử dụng form để gửi POST request -->
            <form action="/confirm-activation" method="post">
              <input type="hidden" name="token" value="<%= token %>">
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Kích hoạt tài khoản</button>
              </div>
            </form>
            <% if (messages.success_msg) { %>
              <div class="alert alert-success">
                <%= messages.success_msg %>
              </div>
              <% } %>

                <% if (messages.error_msg) { %>
                  <div class="alert alert-danger">
                    <%= messages.error_msg %>
                  </div>
                  <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>
