<!doctype html>
<html lang="en">

<head>
  <title>Activate Your Account</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <% include ../partials/lib.ejs %>

</head>

<body>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Kích hoạt tài khoản</h2>
            <p class="text-center">Vui lòng nhấn nút bên dưới để kích hoạt tài khoản của bạn.</p>

            <!-- Sử dụng form để gửi POST request -->
            <form action="/confirm-activation" method="post">
              <input type="hidden" name="token" value="<%= token %>">
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark text-white">Kích hoạt tài khoản</button>
              </div>
            </form>
            <% if (messages.success_msg) { %>
              <div class="alert alert-success">
                <%= messages.success_msg %>
              </div>
              <% } %>

                <% if (messages.error_msg) { %>
                  <div class="alert alert-danger">
                    <%= messages.error_msg %>
                  </div>
                  <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ../partials/script.ejs %>

</body>

</html>
