<!doctype html>
<html lang="en">

<head>
  <title>Customers Preview</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <% include ../partials/lib.ejs %>

    <link rel="stylesheet" href="./public/stylesheets/style.css">

    <link rel="stylesheet" href="./public/stylesheets/customer-detail.css">
</head>

<body>
  <div id="someElement" data-resend-activation="<%= resendActivationRequestExists %>"></div>
  <div class="d-flex h-100 text-white">
    <% include ../partials/sidebar.ejs %>
      <div id="main" class="flex-grow-1 d-flex flex-column">
        <% include ../partials/header.ejs %>
          <div class="main-content">
            <div class="flex-grow-1 p-3 text-dark">

            </div>
          </div>
      </div>
  </div>

  <div id="notificationContainer" class="notification-container"></div>

  <% include ../partials/script.ejs %>

    <script>
      let unreadNotificationsCount = <%= notifications.filter(notification => !notification.isRead).length %>;
    </script>

    <script src="./public/js/main.js"></script>
    <script src="./public/js/customer-detail.js"></script>
</body>

</html>
