<!doctype html>
<html lang="en">

<head>
  <title>Home</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <% include ../partials/lib.ejs %>

    <link rel="stylesheet" href="./public/stylesheets/style.css">

    <link rel="stylesheet" href="./public/stylesheets/statistic.css">

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>

<body>

  <div class="d-flex h-100 text-white">
    <% include ../partials/sidebar.ejs %>
      <div id="main" class="flex-grow-1 d-flex flex-column">
        <% include ../partials/header.ejs %>
          <div class="main-content">
            <div class="flex-grow-1 p-3 text-dark">
              <div class="main-content">
                <div class="flex-grow-1 p-3 text-dark">
                  <!-- Row cho các card thông tin -->
                  <div class="row main-cards">
                    <div class="col-md-3 col-sm-6">
                      <!-- Card 1: Products -->
                      <div class="card">
                        <div class="card-inner">
                          <h3>PRODUCTS</h3>
                          <span class="material-icons-outlined">inventory_2</span>
                        </div>
                        <h1>249</h1>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <!-- Card 2: Categories -->
                      <div class="card">
                        <div class="card-inner">
                          <h3>CATEGORIES</h3>
                          <span class="material-icons-outlined">category</span>
                        </div>
                        <h1>25</h1>
                      </div>

                    </div>
                    <div class="col-md-3 col-sm-6">
                      <!-- Card 3: Customers -->
                      <div class="card">
                        <div class="card-inner">
                          <h3>CUSTOMERS</h3>
                          <span class="material-icons-outlined">groups</span>
                        </div>
                        <h1>1500</h1>
                      </div>

                    </div>
                    <div class="col-md-3 col-sm-6">
                      <!-- Card 4: Alerts -->
                      <div class="card">
                        <div class="card-inner">
                          <h3>ALERTS</h3>
                          <span class="material-icons-outlined">notification_important</span>
                        </div>
                        <h1>56</h1>
                      </div>
                    </div>
                  </div>

                  <!-- Row cho Date Range Picker -->
                  <div class="row mt-4">
                    <div class="col-12">
                      <div id="reportrange"
                        style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; display: inline-block;">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span>
                      </div>
                    </div>
                  </div>

                  <!-- Row cho Biểu Đồ -->
                  <div class="row mt-4">
                    <div class="col-6">
                      <div class="charts-card">
                        <h2 class="chart-title fw-bold text-white">Sales Overview</h2>
                        <div id="sales-chart"></div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="charts-card">
                        <h2 class="chart-title fw-bold text-white">Profit Overview</h2>
                        <div id="profit-chart"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <% include ../partials/script.ejs %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>
      let unreadNotificationsCount = <%= notifications.filter(notification => !notification.isRead).length %>;
    </script>
    <script src="./public/js/main.js"></script>
    <script src="./public/js/statistic.js"></script>
</body>

</html>
