<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% include ../partials/lib.ejs %>

</head>

<body class="bg-secondary">

  <h3 class="text-center my-5 text-light">User Login</h3>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-5">
        <div class="border p-3 rounded bg-light">
          <form method="post" action="/login">
            <div class="form-group">
              <label class="my-2" for="user">Username</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend" style="margin-right: 10px;">
                  <span class=" input-group-text h-100">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <input id="username" name="username" type="text" class="form-control" placeholder="Username">
              </div>

            </div>
            <div class="form-group">
              <label class="my-2" for="pass">Password</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend" style="margin-right: 10px;">
                  <span class="input-group-text h-100">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <input name="password" type="password" class="form-control" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <% if (msg.length> 0) { %>
                <div class="alert alert-danger" role="alert">
                  <%= msg[0] %>
                </div>
                <% } %>
            </div>
            <div class="form-group">
              <button class="btn btn-success px-5" type="submit">Login</button>
            </div>
            <!-- Render flash message here -->
            <!-- <% if (msg) { %>
              <p class="text-danger">
                <%= msg %>
              </p>
              <% } %> -->
          </form>
        </div>
      </div>
    </div>
  </div>


</body>

</html>
