<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <!-- Bootstrap CSS -->

  <% include ../partials/lib.ejs %>

</head>

<body>


  <% include ../partials/script.ejs %>

</body>

</html>
