<!doctype html>
<html lang="en">

<head>
  <title>Form Liên Hệ</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <% include ../partials/lib.ejs %>


</head>

<body>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Send Notifiction to ADMIN to Resend Request
          </div>
          <div class="card-body">
            <form id="contactForm">
              <div class="mb-3">
                <label for="userEmail" class="form-label">Your Email</label>
                <input type="email" class="form-control" id="userEmail" placeholder="Enter your email" required>
              </div>
              <button type="submit" class="btn btn-dark text-white">Send your request</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ../partials/script.ejs %>


    <script>
      document.getElementById('contactForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const userEmail = document.getElementById('userEmail').value;

        fetch('/send-notification', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ userEmail })
        })
          .then(response => response.json())
          .then(data => {
            alert('Email is sent');
            location.reload();
            // Xử lý thành công
          })
          .catch(error => {
            console.error('Lỗi:', error);
            // Xử lý lỗi
          });
      });
    </script>
</body>

</html>
