<!doctype html>
<html lang="en">

<head>
	<title>
		<%= title %>
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Required meta tags -->

	<% include ../partials/lib.ejs %>

		<link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<style>
	.containerSale {
	  overflow: hidden;
	}
  
	/* Set the width of dropdown items with the custom class */
	.custom-width {
	  width: fit-content;
	  /* or any other value */
	  min-width: 151px;
	}
  
	.navbar {
	  background-color: #f8f9fa;
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}
  
	.navbar-brand {
	  font-size: 1.5rem;
	  font-weight: bold;
	}
  
	.navbar-brand:hover {
	  color: #007bff;
	}
  
	.nav-link {
	  color: #343a40;
	  margin-right: 1rem;
	}
  
	.nav-link:hover {
	  color: #007bff;
	}
  
	/* Dropdown and Avatar Styles */
	.dropdown-toggle {
	  display: flex;
	  align-items: center;
	}
  
	.dropdown-toggle img {
	  border: 2px solid #007bff;
	}
  
	.dropdown-menu {
	  position: absolute;
	  left: 12px;
	  right: 12px;
	  z-index: 10;
	}
</style>
<body>
	<div class="containerSale mb-4">
		<% include ../partials/sale-header.ejs %>
		<div class="container mt-4">
			<% include ../partials/productTable.ejs %>
		</div>
	</div>

	<% if (status && status == 'Success') { %>
		<script>
			toastr.success('<%= msg %>', 'System Status')
		</script>
	<% } %>

	<% if (status && status == 'Failed') { %>
		<script>
			toastr.warning('<%= msg %>', 'System Status')
		</script>
	<% } %>
	<% include ../partials/script.ejs %>
	<script src="./public/js/main.js"></script>
	<script>
		$(() => {
			$('#productTable').DataTable();
		})
	</script>
</body>

</html>