<!doctype html>
<html lang="en">

<head>
	<title>
		<%= title %>
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Required meta tags -->

	<% include ../partials/lib.ejs %>

		<link rel="stylesheet" href="/public/stylesheets/style.css">
		<link rel="stylesheet" href="/public/stylesheets/sale.css">
</head>

<body>
	<div class="containerSale mb-4">
		<% include ../partials/sale-header.ejs %>
			<div class="container mt-4">
				<% include ../partials/customerTable.ejs %>
			</div>
	</div>
	<% include ../partials/script.ejs %>
		<script src="/public/js/main.js"></script>
		<script src="/public/js/customer.js"></script>
</body>

</html>
