<!doctype html>
<html lang="en">

<head>
	<title>
		<%= title %>
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Required meta tags -->

	<% include ../partials/lib.ejs %>

		<link rel="stylesheet" href="/public/stylesheets/style.css">
		<link rel="stylesheet" href="/public/stylesheets/sale.css">
</head>

<body>
	<div class="containerSale mb-4">
		<% include ../partials/sale-header.ejs %>
			<div class="container mt-4">
				<% include ../partials/productTable.ejs %>
			</div>
	</div>

	<% if (status && status=='Success' ) { %>
		<script>
			toastr.success('<%= msg %>', 'System Status')
		</script>
		<% } %>

			<% if (status && status=='Failed' ) { %>
				<script>
					toastr.warning('<%= msg %>', 'System Status')
				</script>
				<% } %>
					<% include ../partials/script.ejs %>
						<script src="/public/js/main.js"></script>
						<script>
							$(() => {
								$('#productTable').DataTable();
							})
						</script>
</body>

</html>
