<!doctype html>
<html lang="en">

<head>
  <title>Set Password</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <% include ../partials/lib.ejs %>

</head>

<body>
  <div class="container mt-5">
    <!-- Card Container -->
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Set Your Password</h2>
            <form action="/user/set-password" method="post">
              <input type="hidden" name="email" value="<%= email %>">
              <!-- New Password -->
              <div class="mb-3">
                <label for="password" class="form-label">New Password:</label>
                <input type="password" class="form-control" name="password" id="password" required>
              </div>
              <!-- Confirm Password -->
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password:</label>
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required>
              </div>
              <!-- Error Message -->
              <% if (msg.length> 0) { %>
                <div class="alert alert-danger" role="alert">
                  <%= msg[0] %>
                </div>
                <% } %>
                  <!-- Submit Button -->
                  <button type="submit" class="btn btn-dark text-white w-100">Set Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ../partials/script.ejs %>

</body>

</html>
