:root {
    --main-bg-color: #f9f9f9;
    --main-border-color: #ddd;
    --main-btn-color: #28a745;
    --font-main: Arial, sans-serif;
    --color-primary: #007bff;
    --color-secondary: #333;
}

.card {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
}

.form-group label {
    font-weight: bold;
}

.btn-success {
    background-color: var(--main-btn-color);
    border-color: var(--main-btn-color);
}

#checkoutButton {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
}

h2 {
    color: var(--color-primary);
}

.money input {
    font-family: var(--font-main);
    font-size: 16px;
    color: #000;
    border: none;
    border-bottom: 1px solid #000;
    padding: 5px 10px;
    width: 200px;
    text-align: right;
    border-radius: 0px;
}

section.col-md-8,
section.col-md-4 {
    position: relative;
}

#productSearchResults,
#customerSearchResults {
    position: absolute;
    left: 12px;
    right: 12px;
    z-index: 10;
}

#cart {
    border-radius: 5px;
    margin-top: 20px;
}

.customCard {
    margin-top: 30px;
}

/* Centering table data */
td,
th {
    text-align: center;
}

.containerSale {
    overflow: hidden;
}

/* Set the width of dropdown items with the custom class */
.custom-width {
    width: fit-content;
    /* or any other value */
    min-width: 151px;
}

.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #007bff;
}

.nav-link {
    color: #343a40;
    margin-right: 1rem;
}

.nav-link:hover {
    color: #007bff;
}

/* Dropdown and Avatar Styles */
.dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-toggle img {
    border: 2px solid #007bff;
}

.dropdown-menu {
    position: absolute;
    left: 12px;
    right: 12px;
    z-index: 10;
}
