<div class="table-responsive">
  <table id="customersTable" class="table table-striped">
    <thead class="thead-dark">
      <tr class="bg-dark text-white p-5">
        <th>ID</th>
        <th>Full Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="customersTableBody">
      <!-- Các hàng dữ liệu sẽ được thêm vào đây thông qua JavaScript -->
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </tbody>
  </table>
</div>
