<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- Loại bỏ danh sách menu -->
    </div>
    <div class="d-flex align-items-center">

      <!-- Thêm phần thông báo ở đây -->
      <div class="dropdown me-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="notificationDropdown"
          data-bs-toggle="dropdown" aria-expanded="false">
          Thông báo
        </button>
        <ul class="dropdown-menu" aria-labelledby="notificationDropdown">
          <% notifications.forEach(notification=> { %>
            <li><a class="dropdown-item" href="#">
                <%= notification.content %>
              </a></li>
            <% }) %>
        </ul>
      </div>

      <!-- Phần thông tin người dùng và đăng xuất -->
      <div class="dropdown text-end">
        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://i.pravatar.cc/300" alt="avatar" width="32" height="32" class="rounded-circle me-2">
          <strong>
            <%= user.username %>
          </strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser">
          <li><a class="dropdown-item" href="#">Hồ sơ</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><button class="dropdown-item" id="logoutButton">Đăng xuất</button></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
