<body>

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
    data-target=".hca-modal--clinical-quick-view">Visit Details</button>

  <div class="modal fade hca-modal--clinical-quick-view" tabindex="-1" role="dialog"
    aria-labelledby="clinicalQuickViewModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <div class="row">
            <div class="col-sm-6">
              <div class="hca-modal-header--account-details" id="account-details">
                <ul>
                  <li>Bill Nickname</li>
                  <li>1829838</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="hca-modal-header--account-balance" id="account-details"><span>Full Account Balance:
                </span><span>$450.00</span>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-body">

          <div class="hca-modal-body--banner">
            <div class="container-sm">
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <div class="hca-modal-body--banner-image pull-left">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1000px-User_font_awesome.svg.png"
                      height="75" width="75" alt="User Photo" class="img-circle">
                  </div>
                  <div class="hca-modal-body--visit-details pull-left">
                    <span>11/11/16</span><br>
                    <span>John Paul Jackson</span>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="hca-modal-body_btn--full-details">
                    <button href="#" class="btn btn-default btn-lg btn-block" aria-label="See full visit details">More
                      details</button>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.hca-modal-body--banner -->

          <div class="hca-modal-body--main-content">
            <div class="container-sm">
              <div class="hca-modal-body--visit-details-wrap">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="col-sm-12">
                      <div class="visit-details-section">
                        <h5 class="visit-title">Reason for visit</h5>
                        <p>Broken arm</p>
                      </div>
                      <div class="visit-details-section">
                        <h5 class="visit-title">View diagnosis</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, harum inventore a sit
                          quis eum nemo expedita reprehenderit laborum tempora modi neque praesentium totam cum omnis
                          excepturi, sequi vero alias.</p>
                      </div>
                      <div class="providers-wrap visit-details-section">
                        <h5 class="visit-title">Providers</h5>
                        <div class="row">
                          <div class="col-xs-6">
                            <div class="provider-profile text-center">
                              <img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1000px-User_font_awesome.svg.png"
                                height="75" width="75" alt="User Photo" class="img-circle">
                              <div class="provider-name">Dr. Jack Trent</div>
                              <div class="provider-type">Admitting</div>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="provider-profile text-center">
                              <img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1000px-User_font_awesome.svg.png"
                                height="75" width="75" alt="User Photo" class="img-circle">
                              <div class="provider-name">Dr. Steve Tindler</div>
                              <div class="provider-type">Attending</div>
                            </div>
                          </div>
                        </div> <!-- end row -->

                        <div class="row">
                          <div class="col-xs-6">
                            <div class="provider-profile text-center">
                              <img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1000px-User_font_awesome.svg.png"
                                height="75" width="75" alt="User Photo" class="img-circle">
                              <div class="provider-name">Dr. Jack Thompson</div>
                              <div class="provider-type">Admitting</div>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="provider-profile text-center">
                              <img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1000px-User_font_awesome.svg.png"
                                height="75" width="75" alt="User Photo" class="img-circle">
                              <div class="provider-name">Dr. Amber Swanson</div>
                              <div class="provider-type">Attending</div>
                            </div>
                          </div>
                        </div> <!-- end row -->

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="panel panel-default">
                      <div class="panel-body">

                        <div class="hca-modal-body--facility-details text-center">
                          <img src="https://c1.staticflickr.com/3/2835/9884068315_0d7d2215c6_b.jpg" height="75"
                            width="75" alt="Facility Photo" class="img-circle">
                          <h4>Facility Name</h4>
                          <div class="hca-facility-info">
                            <div>123 Main St</div>
                            <div>Nashville, TN 37201</div>
                            <div>(888) 888-8888</div>
                          </div>
                        </div>

                        <div class="hca-modal-body--visit-duration">
                          <h5 class="visit-duration-title text-center">Duration of visit</h5>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.modal-body -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</body>
