<div class="table-responsive">
  <table id="ordersTable" class="table table-striped">
    <thead class="thead-dark">
      <tr class="bg-dark text-white p-5">
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Retail Price</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody id="ordersTableBody">
      <!-- Các hàng dữ liệu sẽ được thêm vào đây thông qua JavaScript -->
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </tbody>
  </table>
</div>
