<div class="table-responsive">
  <table id="orderTable" class="table table-striped">
    <thead class="thead-dark">
      <tr class="bg-dark text-white p-5">
        <th>ID</th>
        <th>Purchase Date</th>
        <th>Total Products</th>        
        <th>Total Amount</th>
        <th>Discount</th>
        <th>Final Amount</th>
        <th>Amount Received</th>
        <th>Amount Returned</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="orderTableBody">
      <!-- Các hàng dữ liệu sẽ được thêm vào đây thông qua JavaScript -->
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </tbody>
  </table>
</div>
