<div id="sidebar" class="bg-dark p-3">
  <h2 class="fs-5">Phone E-Commerce</h2>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Báo cáo và phân tích</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/product">Quản lý sản phẩm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user">Quản lý người dùng</a>
    </li>
  </ul>
</div>
