<div id="sidebar" class="bg-dark p-3 text-light">
  <h2 class="fs-4 text-center mb-4">Phone E-Commerce</h2>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/" id="nav-home">
        <i class="fas fa-chart-bar me-2 icon"></i> Báo cáo và phân tích
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/product" id="nav-product">
        <i class="fas fa-box me-2 icon"></i> Quản lý sản phẩm
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user" id="nav-user">
        <i class="fas fa-users me-2 icon"></i> Quản lý người dùng
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/customer" id="nav-customer">
        <i class="fas fa-user-friends me-2 icon"></i> Quản lý khách hàng
      </a>
    </li>
  </ul>
</div>
