<div class="table-responsive">
  <table id="usersTable" class="table table-striped">
    <thead class="thead-dark">
      <tr class="bg-dark text-white p-5">
        <th>ID</th>
        <th>Email</th>
        <th>Full Name</th>
        <th>Role</th>
        <th>Status</th>
        <th>Blocked</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="usersTableBody">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </tbody>
  </table>
</div>
